.Hero h3 {
  text-align: left;
  padding-top: 7rem;
}

.feed {
  list-style: none;
}

.Hero {
  display: flex;
  align-items: flex-end;
}

.ask {
  margin-left: 35rem;
  width: 10vw;
  height: 3vw;
}

.ask p {
  font-size: 12px;
}

.brief-description {
  border-top: 1px solid rgb(179, 177, 177);
  border-bottom: 1px solid rgb(179, 177, 177);
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
}

.list {
}
