.title {
  display: flex;
  text-align: center;
  padding: 0px 10px;
  font-size: 17pt;
  font-weight: 700;
  margin: 0px;
}

.Question-feed {
  list-style: none;
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
}

h2 {
  text-align: center;
}

.Question-feed > li {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgb(51, 51, 51);
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
  padding: 0px;
  margin: 0px 0px 20px;
}

.Date-Posted {
  display: inline-block;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(197, 44, 102);
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

.Question-feed > li > time {
  background-color: rgb(165, 82, 167);
}
.Question-feed > li > time > span {
  display: none;
}
.Question-feed > li > time > .day {
  display: block;
  font-size: 56pt;
  font-weight: 100;
  line-height: 1;
}
.Question-feed > li time > .month {
  display: block;
  font-size: 24pt;
  font-weight: 900;
  line-height: 1;
}

.Question-feed > li > time {
  width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0px;
}
