/* @media () .text-area {
  width: 381px;
  border-radius: 0.25rem;
  margin-top: 2rem;
} */

.question-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35vw;
  margin-top: 8rem;
}

.input-Q {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}

.title-input {
  border-radius: 0.5rem;
  text-align: center;
  margin: 0rem 5rem 1rem 5rem;
  width: 75%;
}

.text-area {
  border-radius: 0.5rem;
  text-align: center;
  /* margin: 0rem 5rem 0rem 5rem; */
  width: 45vw;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  margin-top: 3rem;
  font-size: 24px;
}

.submit-Q {
  margin-top: 1rem;
  padding: 1rem 1rem 1rem 1rem;
}

.Post {
  background-color: rgb(250, 244, 244);
  box-shadow: 0.2rem 0.2rem 0.2rem;
  padding-top: -3rem;
  padding-bottom: 3rem;
}

.message {
  text-align: center;
}
